
:root {
    --hover-main-color: #DADEE0;
    --hover-tweet-action-color: #37A6F2;
    --hover-tweet-action-bgcolor: rgba(55, 166, 242, 0.2);;
    --hover-like-tweet-action-bgcolor: rgba(251, 26, 132, 0.2);
    --hover-retweet-tweet-action-bgcolor: rgba(0, 255, 0, 0.2);
    --hover-tweet-action-retweet-color: green;
    --hover-tweet-action-like-color: red;
    --border-main-color: #EFF3F4;
    --profile-actions-border-color: #cfd9de;
    --gray-font-color: #7B8892;
    --blue-button-background: #8ECDF7;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#container {
    align-items: center;
    border: 1px solid var(--border-main-color);
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
}

header {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--border-main-color);
    display: flex;
    gap: 2rem;
    opacity: 0.98;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    position: sticky;
    top: 0;
    width: 100%
}

header nav {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
}

header nav:hover {
    background-color: var(--hover-main-color);
}

#profile-cover-img {
    background-color: gray;
    height: 200px;
    width: 100%;
}

#profile-cover-img img {
    height: 200px;
    width: 100%;
}

#profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#profile-pic-and-options {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#container>*:not(#profile-cover-img, #profile-nav, #tweets, header) {
    width: 95%;
}

#profile-pic {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    height: 150px;
    justify-content: center;
    margin-top: -75px;
    width: 150px;
}

#profile-pic img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

#profile-options {
    display: flex;
    gap: 0.5rem;
}

#profile-options>:last-child:hover {
    background-color: #000000c2;
}

#profile-follow {
    display: flex;
    gap: 2rem;
}


#profile-follow>div {
    cursor: pointer;
}

#profile-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#profile-meta a {
    text-decoration: none;
}

#profile-meta a:hover {
    text-decoration: underline;
}

.profile-meta-data {
    align-items: center;
    display: flex;
    gap: 0.3rem;
}

#profile-following, #profile-followers {
    color: black;
    font-weight: 500;
}

#followed-by {
    cursor: pointer;
    display: flex;
    gap: 2rem;
}

#followed-by:hover #followed-by-text{
    text-decoration: underline;
}

#followed-by-profile-pics{
    display: flex;
    width: 50px;
}

#followed-by-profile-pics>div {
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

#followed-by-profile-pics>div>img {
    width: 100%;
}


#profile-follow>div:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

#profile-meta svg {
    width: 1rem;
}

#profile-nav {
    border-bottom: 1px solid var(--border-main-color);
    margin-top: 2svh;
    width: 100%;
}

#profile-nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#profile-nav ul li {
    cursor: pointer;
    flex: 1;
    line-height: 3rem;
    text-align: center;
}

#profile-nav ul li:hover {
    background-color: var(--hover-main-color);
    color: var(--hover-tweet-action-color);
}

.selected-nav {
    border-bottom: 5px solid var(--hover-tweet-action-color);
    color: black;
    font-weight: bold;
}

#tweets {
    width: 100%;
}

.tweet {
    border-bottom: 1px solid var(--border-main-color);
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 2.5%;
}

.tweet:hover {
    background-color: var(--hover-main-color);
}

.opened-tweet {
    cursor: default;
}

.opened-tweet:hover {
    background-color: inherit;
}

.tweeter-profile-pic {
    height: 50px;
    width: 50px;
}

.tweeter-profile-pic img {
    background-color: gray;
    border-radius: 50%;
    height: auto;
    width: 100%;
}

.tweet-info {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.tweet-meta {
    display: flex;
    gap: 0.5rem;
}

.tweet-meta span {
    padding: 0 0.5rem;
} 

.tweet-details-and-actions {
    width: 88%;
}

.tweet-actions {
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
    /* line-height: 2rem; */
    padding: 0.5rem 0;
}

.tweet-action {
    align-items: center;
    display: flex;
}

.svg-container {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
}


.tweet-action:hover {
    color: var(--hover-tweet-action-color);
    fill: var(--hover-tweet-action-color);
}

.tweet-action-retweet:hover {
    color: var(--hover-tweet-action-retweet-color);
    fill: var(--hover-tweet-action-retweet-color);
}

.tweet-action-like:hover {
    color: var(--hover-tweet-action-like-color);
    fill: var(--hover-tweet-action-like-color);
}

.tweet-action:hover .svg-container {
    background-color: var(--hover-tweet-action-bgcolor);
}

.tweet-action:hover .like-svg-container {
    background-color: var(--hover-like-tweet-action-bgcolor);
}

#more-icon, #mail-message-icon, .tweet-info-more-icon, .tweet-action svg, .back-svg {
    width: 20px;
}


#profile-options>*:not(:last-child){
    align-items: center;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 2rem;
}

#profile-options>*:not(:last-child):hover {
    background-color: var(--hover-main-color);
}

#profile-options>*:last-child{
    background-color: black;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-align: center;
}

.tweet-info-more-icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
}

.tweet-info-more-icon:hover {
    background-color: var(--hover-tweet-action-bgcolor);
}

.tweet-info-more-icon img {
    width: 18px;
}

.profile-name {
    font-size: 20px;
    font-weight: 800;
}

.tweet-tweeter-name {
    font-weight: bold;
}

.gray-font-color {
    color: var(--gray-font-color);
    fill: var(--gray-font-color);
}

.timestamp {
    cursor: pointer;
}

.timestamp:hover, .tweet-counter:hover {
    text-decoration: underline;
}

.tweet-counter {
    cursor: pointer;
}

@media (max-width: 490px) {
    .tweet-actions {
        gap: 1.5rem;
    }

    .svg-container {
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 390px) {
    .tweet-actions {
        gap: .7rem;
    }
}